spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ticketing
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      resourceserver:
        jwt:
          public-key-location: classpath:keys/jwt-public.pem

management:
  endpoints:
    web:
      exposure:
        include: health,info
