version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: ticketing-postgres
    environment:
      POSTGRES_DB: ticketing
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ticketing_pgdata:/var/lib/postgresql/data
    healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U ticketing -d ticketing" ]
        interval: 5s
        timeout: 5s
        retries: 10

volumes:
  ticketing_pgdata:
